@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>DrinkFest protects clients data and information at all costs. Your information will never be given to any third-party for any purpose whatsoever. Thank you as you shop with us.</p>
